body {
    font-family: 'Open Sans', sans-serif;
    color: #353535;
}
.content h1 {
    text-align: center;
}
.content .content-footer p {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
.content .content-footer p a {
    color: inherit;
    font-weight: bold;
}

/*	--------------------------------------------------
        :: Table Filter
        -------------------------------------------------- */
.panel {
    border: 1px solid #ddd;
    background-color: #fcfcfc;
}
.panel .btn-group {
    margin: 15px 0 30px;
}
.panel .btn-group .btn {
    transition: background-color .3s ease;
}
.table {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
.table tbody tr:hover {
    cursor: pointer;
    background-color: #eee;
}
.table tbody tr td {
    padding: 10px;
    vertical-align: middle;
    border-top-color: #eee;
}
.table tbody tr.selected td {
    background-color: #eee;
}
.table tr td:first-child {
    width: 38px;
}
.table tr td:nth-child(2) {
    width: 35px;
}

.table .media-meta {
    font-size: 11px;
    color: #999;
}
.table .media .title {
    color: #2BBCDE;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
}
.table .media .title span {
    font-size: .8em;
    margin-right: 20px;
}
.table .media .title span.aprovado {
    color: #5cb85c;
}
.table .media .title span.processando {
    color: #f0ad4e;
}
.table .media .title span.reprovado {
    color: #d9534f;
}
.table .media .summary {
    font-size: 14px;
}